@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.editProfile {
  padding-top: 6rem;

  &__avatar-container {
    padding-top: 6rem;
    width: 10rem;
  }

  &__avatar {
    width: 10rem;
    height: 10rem;
    border: 0.0625rem solid #bdc5d5;
    border-radius: 50%;
  }
}
