@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

$nav-links: about, products, media, contact us;

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.mobile-wrapper {
  .mobile-container {
    &::before {
      height: 50px;
      left: 50%;
      position: absolute;
      width: 50px;
      transform: translateX(-50%);
      z-index: 1;
    }
  }
}

.content {
  .header-nav {
    background: #fff;
    border-bottom: 1px solid #ddd;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .header-logo {
    padding-left: 1.25rem;
    font-size: 1.5rem;
  }

  .header-user-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .header-avatar-container {
    padding-right: 0.5rem;
  }

  .user-avatar {
    width: 2.5rem;
    height: 2.5rem;
  }

  .header-user {
    display: flex;
    justify-content: flex-end;
    padding-right: 4rem;
  }

  .nav-links {
    display: block;
    position: absolute;
    height: 0;
    overflow: hidden;
    top: 44px;
    left: 0;
    width: 100%;
    padding-inline-start: 0;
    // Dark overlay on open nav
    &::before {
      background: rgba(0, 0, 0, 0.5);
      content: "";
      height: 100vh;
      left: 0;
      top: 0;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      // display: none;
      width: 100%;
      transition: all 0.3s;
    }
    .nav-li {
      border-bottom: 1px solid #ddd;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20px);
      transition: all 0.3s;
      .nav-a {
        background: #fff;
        color: #404040;
        display: flex;
        justify-content: center;
        font-size: 18px;
        font-weight: 700;
        padding: 12px 20px;
        text-align: left;
        width: 100%;
        transition: all 0.3s;

        &:hover {
          color: coral;
        }
      }
    }
  }
}

// Hidden checkbox to triger mobile nav
.header-input[type="checkbox"] {
  position: absolute;
  opacity: 0;

  visibility: hidden;
  display: none;
  // Nav open styling - achieved with ':checked' selector
  &:checked + .header-label {
    border: 4px solid silver;
    border-radius: 50%;
    height: 28px;
    top: 16px;
    right: 18px;
    width: 28px;
    transform: rotate(-135deg);
    &::before {
      background: silver;
      top: 8px;
      left: 4px;
      width: 12px;
    }
    &::after {
      background: silver;
      opacity: 1;
      top: 8px;
      left: 4px;
      visibility: visible;
      width: 12px;
    }
    &:hover {
      border-color: coral;
      &::before,
      &::after {
        background: coral;
      }
    }
  }
  &:checked ~ .nav-links {
    height: 100vh;

    &::before {
      opacity: 1;
      visibility: visible;
    }
    .nav-li {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);

      @for $i from 1 through length($nav-links) {
        &:nth-child(#{$i}) {
          transition-delay: ($i - 1)/10 + s;
        }
      }
    }
  }
}

// Styling of the linked label element
.header-label {
  background: none transparent;
  border: 4px solid coral;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  cursor: pointer;
  display: block;
  height: 24px;
  position: absolute;
  top: 18px;
  right: 20px;
  width: 24px;
  transition: all 0.2s;
  &::before {
    background: coral;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 24px;
    transition: all 0.2s;
  }
  &::after {
    background: coral;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    top: 6px;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    transform: rotate(90deg);
    transition: all 0.2s;
  }
}
