@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.addItem-background {
  background-image: url("../../assets/images/background/page-backgroud.jpg");
  background-size: cover;
}

.addItem-wrapper {
  background-color: $white;

  @include tablet {
    margin: 0rem 8rem 0rem 8rem;
  }

  @include desktop {
    max-width: 1280px;
    margin: 0rem 25rem 0rem 25rem;
  }
}

.addItem {
  &__img-container {
    padding: 6rem 2rem 1rem 2rem;
  }

  &__img {
    width: 100%;
    border: 0.0625rem solid $cloud;
    border-radius: 1rem;
  }

  &__slide {
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    position: relative;
  }

  &__btn-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
  }

  &__title-container {
    display: flex;
    padding: 0 2rem 0.5rem 2rem;
  }

  &__title-label {
    width: 100%;
  }

  &__title-input {
    width: 100%;
    height: 2rem;
    border-radius: 2rem;
    border: 0.0625rem solid $cloud;
    margin-top: 0.5rem;
    padding: 0 0.8rem 0 0.8rem;
    box-sizing: border-box;
  }

  &__second-container {
    display: flex;
    gap: 2rem;
  }

  &__category-container {
    padding-left: 2rem;
    width: 50%;
  }

  &__category-label {
    // display: grid;
    // width: 10rem;
    width: 100%;
  }

  &__category-select {
    width: 100%;
    height: 2rem;
    border-radius: 2rem;
    border: 0.0625rem solid $cloud;
    margin-top: 0.5rem;
    text-indent: 0.8rem;
  }

  &__price-container {
    display: flex;
    padding-right: 2rem;
    width: 50%;
  }

  &__price-label {
    width: 100%;
  }

  &__price-input {
    width: 100%;
    height: 2rem;
    border-radius: 2rem;
    border: 0.0625rem solid $cloud;
    margin-top: 0.5rem;
    padding: 0 0.8rem 0 0.8rem;
    box-sizing: border-box;
  }

  &__description-container {
    display: flex;
    padding: 0 2rem 0.5rem 2rem;
  }

  &__description-label {
    width: 100%;
  }

  &__description-textarea {
    width: 100%;
    border-radius: 1rem;
    border: 0.0625rem solid $cloud;
    margin-top: 0.5rem;
    resize: none;
    box-sizing: border-box;
    padding: 1rem;
  }

  &__btn-post {
    width: 6rem;
    height: 2rem;
    color: $white;
    font-weight: 600;
    border-radius: 2rem;
    background: linear-gradient(to right, #61d9de, #e739f5);
    border: hidden;
  }
}
