@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.search {
  display: flex;
  padding: 6rem 3rem 1rem 3rem;

  &__input {
    width: 100%;
    height: 2.5rem;
    border-radius: 1.25rem;
    border: 0.0625rem solid $cloud;

    background: url("../../assets/images/icons/search.svg");
    background-repeat: no-repeat;
    background-size: 1.2rem;
    background-position: 0.6rem 0.4rem;
    text-indent: 2rem;
  }
}
